<div class="jumbotron">
<div class=container style="padding-top: 60px; background-color: antiquewhite;">
<div *ngFor="let t of tweet">
<div class="card text-dark mx-auto" >
<div class="row">
<div class="col-lg-6" style="text-align: justify;">
<div class="row">
<div class="col-lg-3">
    <i class='fas fa-user-circle' style='font-size:36px'></i> 
</div>
<div class="col-lg-3">
<div class="card-title" >{{t.userId}}</div>

</div>
<div class="col-lg-6">
<div class="card-text" ><p style="text-align: right; font-family: cursive;"><!--Tweeted At :--> <b>{{t.createdOn|date:'medium'}}</b></p></div>
</div>
</div>
<div class="row">
<div class="col-lg-6">
<div class="card-body" style="font-style: italic;" *ngIf="t.tweetMessage" >&nbsp;&nbsp;<b>{{t.tweetMessage}}</b></div>
<div class="card-body"  *ngIf="t.tweetMessage == null" ><p>Not posted any comments yet</p></div>
    </div>
    
</div>

</div>
</div>
</div>
</div>
</div>
</div>