<div class="jumbotron">
<div class="container-fluid" style="padding-top: 30px; ">
<div class="row">
    <div class="col-lg-6">
        <i class='fas fa-user-circle' style='font-size:36px'></i>
    </div>
    <div class ="col-lg-6">
        <h4><b>{{firstName+" "+lastName}}</b></h4>
    </div>
</div>

<div *ngFor="let t of tweetsList">
<div class="card text-dark mx-auto" style="background-color: honeydew; box-shadow: lavender; border: groove;" >
<div class="row">
<div class="col-lg-6" style="text-align: center;">
<div class="row">
<div class="col-lg-6">
<div class="card-text" ><p style="text-align: right; font-family: Impact ;"><!--Tweeted At :--> {{t.createdOn|date:'medium'}}</p></div>
</div>
</div>
<div class="row">
<div class="col-lg-6">
<div class="card-body" style="font-style: italic;color:indigo"  *ngIf="t.tweetMessage" >&nbsp;&nbsp;{{t.tweetMessage}}</div>
<div class="card-body"  *ngIf="!t.tweetMessage" ><p>Not posted any comments yet</p></div>
    </div>
    
</div>

</div>
</div>
</div>
</div>
</div>
</div>