<div class="jumbotron text-center">

<div class="card" >
  <div class="text-white text-center rgba-stylish-strong py-5 px-4">
    <div class="py-5">

      
      <h1 style="text-align: center; color:blue; font-family: fantasy;">Welcome to Tweety</h1>
<br/>
<p style="text-align: center; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; color: rgb(114, 4, 31);"><b> Post your thoughts!!.Explore ...</b></p>
<br/>
<p  style="text-align: center; color: rgb(110, 10, 94);" ><b>Join Now!!!</b></p>
</div>
</div>
<br/>
<div class="container" style="align-items:left;">
  <div class="row">
    <div class="col-3 text-left" style="color: blueviolet;">
      New User?
    </div>
    <div class="col-12 text-right" style="color: blueviolet;">
      Have an account?
    </div>
  </div>

  <div class="row">
  <div class="col-3 text-left">
<button class="btn btn-primary px-4" rounded="true" style="align-self: flex-start;" routerLink="/register">Sign Up</button>
</div>
<div class="col-9 text-right">
  <button class="btn btn-success px-4" rounded="true" style="align-self:flex-end;padding-left: 60px;" routerLink="/login">Sign In</button>
</div>
</div>


</div>
</div>


<div class="jumbotron text-center hoverable p-4">

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-md-4 offset-md-1 mx-3 my-3">

      <!-- Featured image -->
      <div class="container">
        <div class="col-6">
        <img src="./assets/images/welcome.jpg" style="box-sizing: border-box; width: 400px;height: 400px;">
      </div>
       
      </div>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-7 text-md-right ml-3 mt-3">   


      <p class="font-weight-normal">We create a platform for posting your thoughts and ideas.</p>
      <p class="font-weight-normal" style="font-style: italic;">You are more than you are. Sometimes its better to let it go. So speak your mind...</p>

          
    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</div>
<!-- News jumbotron -->

